<% html = capture do %>
  <h3 class="title"><%= l(:label_tb_poll) %></h3>

  <div class="box">
    <p>
      <b>Question:</b>
      <%= @tb_poll.question %>
    </p>
    <p>
      <b>Yes:</b>
      <%= @tb_poll.yes %>
    </p>
    <p>
      <b>No:</b>
      <%= @tb_poll.no %>
    </p>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_cancel), onclick: "hideModal(this);", type: "button" %>
  </p>
<% end %>

$("#ajax-modal").html("<%= j html %>").find(".box").css("z-index", "auto");
showModal("ajax-modal", "600px");